.App {
  text-align: center;
}

html, body {
  height: 100%;
}

.window
{
  max-width: 30vw!important;
  min-width: 300px!important;
}

.form-label
{
  font-size: 12px;
  font-weight: bold;
}

.required
{
  border: solid 2px red!important;
  box-shadow: 0 0 !important;
}
